#playing-cards {
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}

.card {
    display: flex;
    justify-content: space-between;
    height: 250px;
    width: 150px;  
    border:1px solid black;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5); 
    
}
.left {
    display: flex;
    align-self: flex-start;
    font-size: 1.5rem;
    padding: 5px;     
    
}
.middle {
    display: flex;
    align-self: center;
    font-size: 8rem;
}
.right {
    display: flex;
    align-self: flex-end;
    font-size: 1.5rem;
    padding: 5px;
    transform: rotate(180deg);
}
